.card-grid {
    width: 100%;
    padding: 1%;
}
.card-grid td{
    vertical-align: top;
    width: 50%;
    text-align: center;
}
.card-history-title {
    font-size: 25px;
    font-weight: bold;
    display: block;
}
.card-history {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(228, 228, 228);
    text-align: left;
    padding: 0.5%;
}
.card-history-content {
    margin: 5%; 
    text-align: justify;
    height: 400px;
    padding-right: 10px;
    overflow-y: auto;   
}
.card-history-text {
    font-size: 15px;
    padding-bottom: 5%;
    margin-bottom: 5%;
    
}


.card-info {
    margin: 1%;
    padding: 1%;
}

.card-info-content {
    font-family: Arial, Helvetica, sans-serif;
}

.mission, .vision {
    margin: 5%;
    display: block;
}

.mission .text, .vision .text {
    font-size: 20px;
}

.title {
    font-size: 35px;
    font-weight: bold;
}
.divider {
    height: 5px;
    background-color: #000066;
    border: none;
}

.row1 {
    height: 300px;
}

.card-official {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    border: #000066 2px solid;
}

.card-official-title {
    padding: 1%;
    background-color: #000066;
    color: white;
    font-size: 18px;
}

.card-official-grid {
    width: 100%;
}

.card-official-grid th {
    padding: 1%;
    font-weight: normal;
    color:#000066;
    background-color: rgb(206, 206, 206);
}

.card-official-grid td {
    border-bottom: black 1px solid;
}

.last {
    margin-bottom: 50px;
}

.add-official {
    margin-top: 20px;
    text-align: left;
}

.add-official td {
    border: none;
}

.add-title {
    color:#000066;
    font-weight: bold;
}

.res-sum {
    font-family: Arial, Helvetica, sans-serif;
}

.res-sum-title {
    font-weight: bold;
    color:#000066;
    font-size: 20px;
}

.grid-res-sum {
    width: 100%;
}

.card-res-sum {
    color: white;
}

.card-res-wrap {
    background-color: #000066;
}

.card-sum-title {
    font-weight: bold;
    font-size: 16px;
    padding-top: 9px;
}

.grid-card-sum {
    color: white;
    width: 100%;
}

.card-value {
    font-weight: bold;
    font-size: 60px;
    width: 95%;
}

.card-icon {
    font-size: 45px;
    width: 30%;
}

.left-col {
    text-align: right;
    padding-left: 120px;
} 

.right-col {
    text-align: left;
    padding-right: 100px;
}

.mod {
    font-size: 15px;
    color: black;
}