.post-img:hover {
    cursor: pointer;
}

.main-grid td {
    padding: 10px;
}

.main-grid {
    margin-bottom: 50px;
}

.img-modal {
    text-align: center;
    overflow-y: auto;
}

#img_caption {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 60%;
    text-align: left;
    font-size: 14px;
}

.img-modal-content {
    max-width: 1100px;
}

.next-button {
    font-size: 50px;
    color: white;
}

.next-button:hover {
    cursor: pointer;
    color: rgb(197, 194, 194);
}

.img-modal-grid {
    width: 95%;
}

.img-modal-grid td {
    text-align: center;
}