.container-login {
    margin: 1% auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 250;
}

.container-login input {
    margin: 1% auto;
}
.container-field {
    margin: 1% auto;
    width: 25%;
}

.button-group {
    display: block;
}

.forgot-pass {
    display: block;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    color: grey;
    font-size: 12px;
    margin-bottom: 2%;
}

.admin {
    width: 150px;
    height: 30px;

}