php_value display_errors Off
php_value mbstring.http_input auto
php_value date.timezone Asia/Manila

# Global Server Configuration File for RTU Online Appointment System

RewriteEngine On

# ESTABLISHING A SECURED CONNECTION ([HTTPS] Strictly for hosting only, set as comment on development stage) 
# 	RewriteCond %{HTTP:X-Forwarded-Proto} =http
# 	RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
