.request {
    font-family: Arial, Helvetica, sans-serif;
}

.request-title {
    font-size: 30px;
    color: #000066;
}

.request-status {
    color:black;
    margin-left: 30px;
    margin-right: 30px;
    display: inline-block;
}

.status-selected {
    color: rgb(170, 13, 13);
    font-weight: bold;
}