# Server Configuration File for RTU Online Appointment System (For Requests Package)

RewriteEngine On

# Rewrite /foo/bar to /foo/bar.html
RewriteRule ^([^.?]+)$ %{REQUEST_URI}.html [L]

# Return 404 if original request is /foo/bar.php
RewriteCond %{THE_REQUEST} "^[^ ]* .*?\.html[? ].*$"
RewriteRule .* - [L,R=404]
