body {
  background-color: white;
  margin: 0;
  overflow: auto;
}


form {
  
  margin: 9% auto; /* 5% from the top, 15% from the bottom and centered */
  margin-bottom: 0;
  border: 1px solid #888;
  width: 27%; /* Could be more or less, depending on screen size */
  border-radius:40px; /*1*/
  border: double .3em transparent; /*thickness of border*/
  background-image: linear-gradient(#F5F5F5, #F5F5F5), 
                    linear-gradient(to top left, #FFCB0D, #002060);
  background-origin: border-box;
  background-clip: content-box, border-box
}

form i {
  
  position: relative;
  float: right;

}


/* FOOTER */
.footer {
  position: relative;
}

/* Copyright Text */
.footer .footer-bottom {
  background-color: #003366;
  width: 100%;
  font-family: Century Gothic;
  font-size: 11px;
  text-align: center;
  color: #A6A6A6;
  margin: auto;
  padding: 9px;
  left: 0;
  bottom: 0;
  position: fixed;
  z-index: 1;
}

.imgcontainer {
    text-align: center;
    margin: 0 auto;
    display: block;
    
}
img.avatar {
  width: 30%;
  margin-bottom: 0;
 
}

/*Welcome!*/
 .greeting{
  
  text-align: center;
  color:#E6B500;
  margin-top: 15px;
  padding-top: 5px;
  font-size: 17px;
  position: relative;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;

}



/*INPUT TEXT FIELD*/

 input[type=text], input[type=password] {
  width: 50%;
  font-size: 15px;
  margin: 0 auto;
  font-family: "Tw Cen MT";
  margin-bottom: 5px;
  padding: 8px;
  box-sizing: border-box;
  display: block;
  box-sizing: border-box;
  background-color:#f5f5f5;
  outline: 0;  
  border-width: 0 0 2px;
  border-color: #003366;
}
input:focus {
  border-color: #E6B500;

}

/*LOGIN BUTTON*/
.button {
  display: block;
  margin: 0 auto;
  background-color: #002060;
  font-family: Arial;
  border: none;
  border-radius: 25px;
  color: white;
  text-decoration: none;
  font-size: 10px;
  cursor: pointer;
  width: 90px;
  padding: 8px;
  margin-bottom: 25px;
  
}

.container span.show {
  position: absolute;
  cursor: pointer;
  top: 43%;
  right: 27%;
}

.container span.show .bi {
  color: grey;
  font-size: 14px;
}

form {
  position: relative;
  text-align: center;
}
.container {
  position: relative;
}
/* RESPONSIVE LAYOUT */
@media only screen and (max-width: 700px) {

  form{
  margin: 50% auto ; /* 5% from the top, 15% from the bottom and centered */
  width: 80%;
  }

  input[type=text], input[type=password] {
    width: 70%
    }

  img.avatar {
    width: 50%;

  }
  .container span.show {
    right: 16%;
  }
}

.error_msg {
  margin: 3%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  display: none;
  color: red;
}
