* {
    outline: none;
    font-family: Poppins;
}

@font-face {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

@font-face {
    font-family: 'Poppins', sans-serif;
    src: url('fontscorecomttwcenmt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* Responsiveness */

@media only screen and (max-width: 415px) {
    h4 {
        font-size: 12px;
    }
    .logo-container img {
        margin-top: 10px;
        max-width: 215px;
    }
    .main-container {
        margin-top: 20px;
        grid-template-columns: 1fr;
        grid-template-rows: 0.25fr 0.1fr 1.7fr 0.3fr;
        grid-template-areas: "logo" "progress-bar" "form" "button";
    }
    .inputs-row1 {
        width: 100%;
        grid-template-columns: 0.6fr 0.6fr;
        grid-template-rows: 0.2fr 0.2fr;
        grid-template-areas: "branch office" "purpose purpose";
        grid-row-gap: 10px;
    }
    select {
        height: 30px;
        width: 90%;
        padding: 6px;
        font-size: 10px;
    }
    select option {
        font-size: 8px;
    }
    textarea {
        width: 85%;
        height: 42px;
        font-size: 10px;
    }
    .inputs-row2 input[type="text"]::-webkit-input-placeholder {
        color: #767171;
    }
    .inputs-row2 {
        margin-top: 8px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "primary" "first-name" "last-name" "contact-number" "email" "id";
    }
    .inputs-row2 input[type="text"] {
        height: 30px;
        width: 84%;
        font-size: 9px;
    }
    .inputs-row2 input[type="text"]::-webkit-input-placeholder {
        font-size: 10px;
    }
    .progress-bar {
        width: 100%;
    }
    .progress-bar .step .bullet:before,
    .progress-bar .step .bullet:after {
        width: 100%;
        left: 125%;
        bottom: 20px;
    }
    .progress-bar .step .bullet {
        height: 40px;
        width: 40px;
    }
    .progress-bar .step .bullet img {
        width: 25px;
        position: relative;
        top: -5px;
    }
    .inputs-row1 label,
    .inputs-row2 label {
        width: 90%;
        margin-left: 20px;
        font-size: 8px;
    }
}

@media only screen and (min-width: 415px) {
    .logo-container img {
        margin-top: 20px;
        max-width: 300px;
    }
    html {
        overflow: hidden;
    }
    .main-container {
        margin-top: 20px;
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: 0.25fr 0.2fr 1.7fr 0.3fr;
        grid-template-areas: "logo" "progress-bar" "form" "button";
    }
    .inputs-row1 {
        width: 75%;
        grid-template-columns: 0.4fr 1fr;
        grid-template-rows: 0.2fr 0.2fr;
        grid-template-areas: "branch purpose" " office purpose";
        grid-row-gap: 15px;
    }
    select {
        height: 36px;
        width: 95%;
        padding: 8px;
    }
    textarea {
        height: 62px;
        width: 90%;
    }
    .inputs-row2 {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "primary first-name last-name" "contact-number email id";
        width: 75%;
        margin-top: 20px;
    }
    .inputs-row2 input[type="text"] {
        height: 36px;
        width: 79%;
    }
    .progress-bar {
        width: 78%;
    }
    /* Progress Bar */
    .progress-bar .step .bullet:before,
    .progress-bar .step .bullet:after {
        width: 200%;
        max-width: 100px;
        min-width: 30px;
        right: -125px;
        bottom: 25px;
    }
    .progress-bar .step .bullet {
        height: 50px;
        width: 50px;
    }
    .progress-bar .step .bullet img {
        width: 35px;
    }
    .inputs-row1 label,
    .inputs-row2 label {
        width: 90%;
        margin-left: 10px;
        font-size: 10px;
    }
    .button-page-name {
        margin-top: 10px;
    }
}

@media only screen and (min-width: 775px) {
    .progress-bar {
        width: 78%;
    }
}

body {
    background-color: #F5F5F5;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0px;
    height: 100%;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.main-container {
    display: grid;
    background: #F5F5F5;
    text-align: center;
    width: 100%;
    max-width: 800px;
    border-radius: 5px;
    padding: 0 35px 10px 35px;
}

.logo-container {
    grid-area: logo;
}

.progress-bar-container {
    grid-area: progress-bar;
}

.form-outer {
    grid-area: form;
}

.button-page-name {
    grid-area: button;
}

.progress-bar {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    user-select: none;
}

.progress-bar .step {
    text-align: center;
    width: 100%;
    position: relative;
}


/* /* Step Progress Bar Circles */

.progress-bar .step .bullet {
    border: 2px solid #002060;
    background: #002060;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    transition: 0.2s;
    font-weight: 500;
    line-height: 74px;
}


/* Step Progress Bar Icons */

.progress-bar .step .bullet.active {
    border-color: #EAB800;
    background: #EAB800;
}


/* check bar align bottom */

.progress-bar .step .bullet span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.progress-bar .step .bullet.active span {
    display: none;
}


/* Step Progress Bar line */

.progress-bar .step .bullet:before,
.progress-bar .step .bullet:after {
    position: absolute;
    content: '';
    height: 5px;
    background: #002060;
}


/* Step Progress Bar Line Animation */

.progress-bar .step .bullet.active:after {
    background: #EAB800;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 0.3s linear forwards;
}


/* Animation */

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}


/* Removes last line */

.progress-bar .step:last-child .bullet:before,
.progress-bar .step:last-child .bullet:after {
    display: none;
}


/* Bar check hides*/

.progress-bar .step .check {
    position: absolute;
    left: 50%;
    top: 45%;
    font-size: 35px;
    transform: translate(-50%, -50%);
    display: none;
}

.progress-bar .step .check.active {
    display: block;
    color: #fff;
}

.logo-container img {
    width: 100%;
    margin: auto;
    display: block;
}


/* form-outer */

.form-outer {
    width: 100%;
    overflow: hidden;
}


/* Inline Forms */

.form-outer form {
    display: flex;
    width: 400%;
}


/* Hide other forms */

.form-outer form .page {
    width: 25%;
    transition: margin-left 0.3s ease-in-out;
}

h4 {
    text-align: center;
    line-height: 0.1;
    position: relative;
    top: -5px;
    color: #3B3838;
}

hr {
    width: 800px;
    border-top: 1px solid #002060;
    position: relative;
    top: -10px;
}

.inputs-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "inputs1" "inputs2";
}

.inputs-row1 {
    display: grid;
    grid-area: inputs1;
    margin-left: auto;
    margin-right: auto;
}

.select-branch {
    grid-area: branch;
}

.select-office {
    grid-area: office;
}

.purpose {
    grid-area: purpose;
}

.inputs-row2 {
    display: grid;
    grid-area: inputs2;
    margin-left: auto;
    margin-right: auto;
    grid-row-gap: 15px;
}

.primary {
    grid-area: primary;
}

.first-name {
    grid-area: first-name;
}

.last-name {
    grid-area: last-name;
}

.contact-number {
    grid-area: contact-number;
}

.email-address {
    grid-area: email;
}

.govID {
    grid-area: id;
}

select {
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #767171;
    text-overflow: ellipsis;
    overflow: hidden;
    border-radius: 6px;
    border: 1px solid rgb(191, 216, 239);
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    white-space: nowrap;
    background: url(../img/arrow.svg) 95% / 15% no-repeat white;
    background-size: 14px;
}

select option {
    color: #767171;
}

textarea {
    padding: 12px;
    resize: none;
    position: relative;
    display: inline-block;
    border-radius: 6px;
    border: 1px solid rgb(191, 216, 239);
}

textarea::-webkit-input-placeholder {
    color: #767171;
}

.inputs-row2 input[type="text"] {
    border: 1px solid rgb(191, 216, 239);
    line-height: 30px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 6px;
    position: relative;
}

.inputs-row2 input[type="text"]::-webkit-input-placeholder {
    color: #767171;
}

.footer-container img {
    left: 0;
    bottom: 0;
    width: 100%;
    position: fixed;
}

.inputs-row1 label,
.inputs-row2 label {
    position: absolute;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    display: block;
    color: rgb(255, 20, 20);
}

.row {
    text-align: center;
    margin: auto;
    align-items: center;
}

.row * {
    box-sizing: border-box;
}


/* 2 equal cols -  Calendar and Time */

.column_row2 {
    /* DAYS */
    float: left;
    background-color: #002060;
    color: white;
}

.column2_row1 {
    /* MM-YY-DD TTL & CONTROLS */
    float: right;
    background-color: #002060;
    color: white;
}

.column2_row3 {
    /* TIMESLOT */
    float: left;
    background-color: #ebebeb;
    color: white;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* COLUMN LEFT */

.weekdays {
    /* the container holding the divs for Sun-Sat title*/
    margin-left: 10px;
    float: left;
    display: flex;
    /* flex do help to align the divs horizontally */
    align-items: center;
    color: white;
}

.weekdays div {
    /* the Sun-Sat text div designs */
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    letter-spacing: 0.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.days {
    /* container for the days (prev-date + 1-31 + next_date )*/
    margin-left: 10px;
    float: left;
}

.days input[type="radio"] {
    /* cell days are all input radio type */
    opacity: 0;
    position: fixed;
    width: 0;
}

.days :not(.prev-date,
.next-date) {
    /* 1-31 days, (excluded yung sa prev at next date) we hide their real appearance(radio type) with this */
    font-family: 'Poppins', sans-serif;
    float: left;
    color: white;
    display: block;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    text-decoration: none;
    display: flex;
    cursor: pointer;
    align-items: center;
    box-sizing: border-box;
}

.prev-date,
.next-date {
    /* prev and next date designs, not radio type since we only need them to be displayed*/
    font-family: 'Poppins', sans-serif;
    float: left;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s;
    opacity: 0.5;
    background-color: #021347;
}

.days label:hover {
    /* label hover designs for the radio inputs (1-31 days) || include the  :not(.fullybooked_cell) after the hover once you have available and fullybooked cell function*/
    background-color: #13377f;
    cursor: pointer;
    border: .1rem solid gold;
}

.days label {
    /* label hover designs for the radio inputs (1-31 days)*/
    text-decoration: none;
    display: inline-block;
    background-color: white;
    color: #00b050;
    font-family: 'Poppins', sans-serif;
}


/* designs for the clicked cell */

.days input[type="radio"]:checked+label {
    background-color: #eab800;
    cursor: pointer;
}

.days input[type="radio"]:focus+label {
    background-color: #eab800;
    cursor: pointer;
}


/* COLUMN RIGHT - HEAD */

.month {
    /* div container for the right side title inside the cal container, [ June 2021 day 25 ]*/
    font-size: 50px;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    background-color: #002060;
    display: flex;
}

.controls {
    /* separated div for the prev and next button */
    margin-left: 10px;
    float: left;
    text-align: center;
}

.controls .prev_btn {
    cursor: pointer;
}

.controls .prev_btn:hover {
    color: #eab800;
}

.controls .next_btn {
    cursor: pointer;
}

.controls .next_btn:hover {
    color: #eab800;
}

.date {
    float: left;
}

.date .month_ttl {
    /* separated div for the Month Name (e.g JUNE) */
    margin-left: 10px;
    float: left;
}

.date .year_ttl {
    /* sparated div for year count (2021)*/
    margin-left: 10px;
    float: left;
}

.date .day_ttl {
    /* separated div for Day title (day) */
    float: right;
}

.date .day_num {
    /* separated div for today's date (with js function)*/
    margin-left: 5px;
    margin-right: 10px;
    float: right;
}


/* COLUMN RIGHT - TIMESLOT */

.time {
    /* time container for all the buttons */
    background-color: #ededed;
    align-items: center;
    justify-content: center;
    padding: 15px 0px;
}

.time div {
    /* buttons are divided into 5 divs/rows to align them hehe */
    align-items: center;
    display: inline-block;
    justify-content: center;
}

.time input[type=button] {
    /* designs for the buttons */
    background-color: white;
    border: 1px solid #bfbfbf;
    color: #002060;
    text-align: center;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    cursor: pointer;
    align-items: center;
    display: inline-block;
    margin: 0px 5px;
}

.time input[type=button]:hover {
    /* color change when the arrow hovers above the button */
    background-color: #002060;
    color: white;
}

.time input[type=button]:disabled,

/* disabled button design */

.input[type=button][disabled] {
    border: 1px solid #bfbfbf;
    background-color: white;
    color: #bababa;
}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other -- credits kay w3 sa pag english*/

@media screen and (max-width: 540px) {
    .row {
        width: 100%;
        margin: auto;
    }
    .column2_row1 {
        width: 100%;
        height: 40px;
        margin: auto;
    }
    .column_row2 {
        width: 100%;
        height: 220px;
    }
    .column2_row3 {
        width: 100%;
        height: 215px;
    }
    /* HEADER - ROW 1 */
    .controls {
        /* separated div for the prev and next button */
        margin-top: 3px;
        margin-left: 10px;
        float: left;
        font-size: 15px;
        width: 5%;
        text-align: center;
    }
    .date {
        float: left;
        width: 90%;
        margin-top: 5px;
    }
    .controls {
        font-size: 12px;
    }
    .date .month_ttl {
        font-size: 25px;
        margin-left: 10px;
        float: left;
    }
    .date .year_ttl {
        font-size: 25px;
    }
    .date .day_ttl {
        font-size: 15px;
    }
    .date .day_num {
        font-size: 25px;
    }
    /* HEADER - ROW 2 */
    .weekdays {
        float: left;
        height: 25px;
        width: 94%;
    }
    .weekdays div {
        width: 94%;
        font-size: 12px;
    }
    .days {
        margin-top: 5px;
        height: 187px;
        width: 94%;
    }
    .days input[type="radio"] {
        width: 0;
    }
    .days :not(.prev-date,
    .next-date) {
        font-size: 10px;
        width: 14.2%;
        height: 31px;
    }
    .prev-date,
    .next-date {
        font-size: 10px;
        width: 14.2%;
        height: 31px;
    }
    /* ROW 3 - TIMESLOT */
    .time {
        /* time container for all the buttons */
        height: 90%;
        width: 100%;
        padding: 5px 0px;
    }
    .time div {
        /* buttons are divided into 5 divs/rows to align them hehe */
        padding: 6px 0px;
        height: 22%;
        width: 100%;
    }
    .time input[type=button] {
        height: 30px;
        width: 25%;
        font-size: 10px;
        text-align: center;
    }
}

@media screen and (min-width: 540px) {
    .row {
        width: 100%;
    }
    /* 2 equal cols -  Calendar and Time */
    .column_row2 {
        /* DAYS */
        width: 50%;
        height: 240px;
    }
    .column2_row1 {
        /* MM-YY-DD TTL & CONTROLS */
        width: 50%;
        height: 40px;
    }
    .column2_row3 {
        /* TIMESLOT */
        height: 200px;
        width: 50%;
    }
    /* COLUMN LEFT */
    .weekdays {
        /* the container holding the divs for Sun-Sat title*/
        width: 97%;
        height: 40px;
    }
    .weekdays div {
        /* the Sun-Sat text div designs */
        margin-top: 10px;
        width: 60%;
        font-size: 12px;
    }
    .days {
        /* container for the days (prev-date + 1-31 + next_date )*/
        height: 200px;
        width: 96.6%;
    }
    .days :not(.prev-date,
    .next-date) {
        /* 1-31 days, (excluded yung sa prev at next date) we hide their real appearance(radio type) with this */
        width: 14.2%;
        /* if u will change this, change the prev/next date as well */
        /* the default alignment is vertical, using calc(xx/7) we dsiplay them horizontally limited for 7 days per row*/
        height: 2rem;
        font-size: 10px;
    }
    .prev-date,
    .next-date {
        /* prev and next date designs, not radio type since we only need them to be displayed*/
        width: 14.2%;
        height: 2rem;
        font-size: 10px;
    }
    /* COLUMN RIGHT - HEAD */
    .month {
        /* div container for the right side title inside the cal container, [ June 2021 day 25 ]*/
        width: 90%;
        height: 100%;
    }
    .controls {
        /* separated div for the prev and next button */
        margin-top: 2px;
        font-size: 12px;
        width: 5%;
    }
    .date {
        width: 90%;
    }
    .date .month_ttl {
        /* separated div for the Month Name (e.g JUNE) */
        font-size: 27px;
        margin-left: 10px;
        float: left;
    }
    .date .year_ttl {
        /* sparated div for year count (2021)*/
        font-size: 27px;
        margin-left: 10px;
        float: left;
    }
    .date .day_ttl {
        /* separated div for Day title (day) */
        float: right;
        font-size: 17px;
    }
    .date .day_num {
        /* separated div for today's date (with js function)*/
        font-size: 27px;
        margin-left: 5px;
        margin-right: 10px;
        float: right;
    }
    /* COLUMN RIGHT - TIMESLOT */
    .month {
        width: 100%;
    }
    .time {
        /* time container for all the buttons */
        height: 100%;
        width: 100%;
    }
    .time div {
        /* buttons are divided into 5 divs/rows to align them hehe */
        height: 30px;
        width: 100%;
        margin-bottom: 5px;
    }
    .time input[type=button] {
        /* designs for the buttons */
        height: 28px;
        width: 23%;
        font-size: 11px;
    }
}


/* Media */

@media only screen and (max-width: 415px) {
    .confirmation-content-container {
        height: auto;
        grid-template-rows: 0.7fr 0.8fr 0.2fr;
        grid-template-areas: "personal-info" "appointment-info" "agreement";
        font-size: 10px;
        grid-row-gap: 15px;
    }
    .personal-info-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr;
        grid-template-areas: "personal-info-text personal-info-text" "primary-con visitor-identification" "full-name-con visitor-fname" "contact-number-con visitor-contact" "email-con visitor-email-com";
        grid-row-gap: 10px;
    }
    .appointment-info-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 1fr;
        grid-template-areas: "appointment-info-text appointment-info-text" "rtu-branch-con visitor-branch" "office-name-con visitor-office" "date-con sched-date" "time-con sched-time" "govID-con sched-govID" "purpose-con sched-purpose";
        grid-row-gap: 10px;
    }
    strong {
        font-size: 10px;
        margin-left: 10%;
    }
    span {
        font-size: 10px;
    }
    .agreement-container label {
        font-size: 0.50rem;
    }
}

@media only screen and (min-width: 415px) {
    .confirmation-content-container {
        grid-template-rows: 0.8fr 1fr 0.2fr;
        grid-template-areas: "personal-info" "appointment-info" "agreement";
        height: 40vh;
    }
    .personal-info-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "personal-info-text personal-info-text personal-info-text personal-info-text" "primary-con visitor-identification contact-number-con visitor-contact" "full-name-con visitor-fname email-con visitor-email-com";
        height: 12vh;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .appointment-info-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: "appointment-info-text appointment-info-text appointment-info-text appointment-info-text" "rtu-branch-con visitor-branch date-con sched-date" "office-name-con visitor-office time-con sched-time" "purpose-con sched-purpose govID-con sched-govID";
        height: 15vh;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    li {
        font-size: 15px;
        margin-left: 5%;
    }
    strong {
        margin-left: 40%;
        font-size: 12px;
    }
    span {
        font-size: 12px;
    }
    .agreement-container label {
        font-size: 0.65rem;
    }
}


/* Containers */

.confirmation-content-container {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: -8px;
}

.confirmation-content-container span {
    color: #3B3838;
}

.personal-info-container {
    display: grid;
    grid-area: personal-info;
}

.appointment-info-container {
    display: grid;
    grid-area: appointment-info;
}

.personal-info-text {
    grid-area: personal-info-text;
}

.primary-con {
    grid-area: primary-con;
}

#visitor-identification {
    grid-area: visitor-identification;
}

.full-name-con {
    grid-area: full-name-con;
}

#visitor-fname {
    grid-area: visitor-fname;
}

.contact-number-con {
    grid-area: contact-number-con;
}

#visitor-contact {
    grid-area: visitor-contact;
}

.email-con {
    grid-area: email-con;
}

#visitor-email-com {
    grid-area: visitor-email-com;
}

.appointment-info-text {
    grid-area: appointment-info-text;
}


/* appointment-info-text appointment-info-text appointment-info-text appointment-info-text  */


/* rtu-branch-con visitor-branch date-con sched-date*/


/* office-name-con visitor-office time-con sched-time*/


/*purpose-con purpose-con purpose-con purpose-con */

.rtu-branch-con {
    grid-area: rtu-branch-con;
}

#visitor-branch {
    grid-area: visitor-branch;
}

.office-name-con {
    grid-area: office-name-con;
}

#visitor-office {
    grid-area: visitor-office;
}

.date-con {
    grid-area: date-con;
}

#sched-date {
    grid-area: sched-date;
}

.time-con {
    grid-area: time-con;
}

#sched-time {
    grid-area: sched-time;
}

.purpose-con {
    grid-area: purpose-con;
}

#sched-purpose {
    grid-area: sched-purpose;
}

.govID-con {
    grid-area: govID-con;
}

#visitor-govId {
    grid-area: sched-govID;
}

li {
    list-style-type: square;
    color: #EAB800;
    font-family: 'Poppins', sans-serif;
    text-align: left;
}

strong {
    font-family: 'Poppins', sans-serif;
    color: #3B3838;
    text-align: left;
}

span {
    text-align: left;
}

.agreement-container {
    grid-area: agreement;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

.agreement-container input[type="checkbox"] {
    display: inline;
    position: relative;
    top: 2px;
}

#slotsload {
    display: none;
}

#timeslot-load {
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: block;
}

#timeslot-cv-spinner {
    margin-top: 15%;
    height: 20%;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
}

#timeslot-spinner {
    display: block;
    width: 40px;
    height: 40px;
    border: 4px #ededed solid;
    border-top: 4px #808080 solid;
    border-left: 4px #808080 solid;
    border-radius: 50%;
    animation: sp-anime 0.5s infinite linear;
}

@keyframes sp-anime {
    100% {
        transform: rotate(360deg);
    }
}

.is-hide {
    display: none;
}

#screen-overlay {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: none;
    background: rgba(0, 0, 0, 0.6);
}

#screen-cv-spinner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#screen-spinner {
    width: 80px;
    height: 80px;
    border: 20px #002060 solid;
    border-top: 20px #eab800 solid;
    border-radius: 50%;
    animation: screen-sp-anime 0.8s infinite linear;
}

.screen-cv-spinner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen-spinner {
    width: 80px;
    height: 80px;
    border: 20px #002060 solid;
    border-top: 20px #eab800 solid;
    border-radius: 50%;
    animation: screen-sp-anime 0.8s infinite linear;
}

@keyframes screen-sp-anime {
    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (min-width:415px) {
    .button1 {
        height: 27px;
        width: 190px;
        font-size: 12px;
    }
    .button2 {
        height: 27px;
        width: 100px;
        font-size: 12px;
    }
    .PageNameAndButtons {
        max-width: 500px;
        height: 50px;
    }
    .pageName-border {
        height: 25.5px;
        max-width: 150px;
        margin-left: 10px;
        margin-right: 10px;
        width: 100%;
    }
    .pageName2-border {
        height: 25.5px;
        max-width: 250px;
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }
    p.pageName {
        font-size: 14px;
    }
    .button1.confirm {
        font-size: 10px;
    }
}

@media only screen and (max-width:415px) {
    .button1 {
        height: 27px;
        width: 190px;
        font-size: 10px;
    }
    .button2 {
        height: 27px;
        width: 100px;
        font-size: 10px;
    }
    .PageNameAndButtons {
        max-width: 500px;
        height: 50px;
    }
    .pageName-border {
        height: 24px;
        max-width: 150px;
        margin-left: 10px;
        margin-right: 10px;
        width: 100%;
    }
    .pageName2-border {
        height: 24px;
        max-width: 220px;
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }
    p.pageName {
        font-size: 10px;
    }
    .button1.confirm {
        font-size: 8px;
    }
}

.PageNameAndButtons {
    position: relative;
    padding-top: 5px;
    margin-right: auto;
    margin-left: auto;
    bottom: 0;
    align-items: center;
    justify-content: center;
    display: flex;
}

p.pageName {
    position: relative;
    border-radius: 10px;
    color: #181717;
}

.pageName-border {
    position: relative;
    border-radius: 10px;
    border: 1px solid #002060;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pageName2-border {
    position: relative;
    border-radius: 10px;
    border: 1px solid #002060;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button2 {
    border-radius: 10px;
    z-index: 1;
    margin-left: 10px;
}

.button1,
.button2 {
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 10px;
    border: 1px solid #002060;
    background-image: linear-gradient(#FCEBBA, #BFD8EF);
    letter-spacing: 0.5px;
    color: #002060;
    transition: 0.3s ease;
    font-weight: bold;
}

.button1:hover,
.button2:hover {
    background-image: linear-gradient(#002060, #002060);
    color: #F5F5F5;
    cursor: pointer;
}