/* RTU Appointment System CSS */

html {
    viewport-fit: auto;
}

@font-face {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

@font-face {
    font-family: 'Poppins', sans-serif;
    src: url('fontscorecomttwcenmt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #F5F5F5;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0px;
    height: 100%;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

::selection {
    color: #fff;
    background: #d43f8d;
}


/* Logo Container */

.apptlogo {
    margin-top: 22px;
    margin-left: auto;
    margin-right: auto;
}


/* Logo Image */

.apptlogo img {
    max-width: 300px;
    margin: auto;
    display: block;
}


/* Footer Image */

.footer img {
    width: 100%;
    left: 0;
    bottom: 0;
    position: fixed;
}


/* For Appointment Summary Title */

h4 {
    font-family: 'Poppins', sans-serif;
    color: #002060;
    text-align: center;
    line-height: 0.1;
}


/* Line */

hr {
    width: 800px;
    border-top: 1px solid #002060;
}


/* Confirmation Page Buttons Style (back and next) */

.button1 {
    height: 27px;
    width: 190px;
    border-radius: 10px;
    border: 1px solid #002060;
    background-image: linear-gradient(#FCEBBA, #BFD8EF);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #002060;
    padding-left: 12px;
    padding-right: 12px;
    transition: 0.3s ease;
    font-weight: bold;
}

.button1:hover {
    background-image: linear-gradient(#002060, #002060);
    color: #F5F5F5;
    cursor: pointer;
}


/* Location and Purpose Button (next) */

.button2 {
    height: 27px;
    width: 100px;
    border-radius: 10px;
    border: 1px solid #002060;
    background-image: linear-gradient(#FCEBBA, #BFD8EF);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #002060;
    padding-left: 12px;
    padding-right: 12px;
    transition: 0.3s ease;
    font-weight: bold;
    z-index: 1;
    margin-left: 10px;
}

.button2:hover {
    background-image: linear-gradient(#002060, #002060);
    color: #F5F5F5;
    cursor: pointer;
}


/*
.rectangle{
  width: 329.99px;
  height: 27px;
  border: 1px solid #002060;
  border-radius: 12px;
  z-index: -1;
  font-family: Arial;
  font-size: 15px;
  color: #181717;
  margin: auto;
}
*/


/* Name and Buttons Container */

.PageNameAndButtons {
    position: relative;
    max-width: 500px;
    height: 50px;
    margin-right: auto;
    margin-left: auto;
    bottom: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 2px;
}


/* Page Name Text */

p.pageName {
    position: relative;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #181717;
}


/* Page Name Border */

.pageName-border {
    position: relative;
    border-radius: 10px;
    height: 25.5px;
    max-width: 150px;
    border: 1px solid #002060;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
}


/* Location and Purpose Page Name Border */

.pageName2-border {
    position: relative;
    border-radius: 10px;
    height: 25.5px;
    max-width: 250px;
    border: 1px solid #002060;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
}


/* Bullets */

li {
    list-style-type: square;
    color: #EAB800;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    text-align: left;
}


/* Personal Information */

.li1 {
    line-height: 1;
    margin-left: 4%;
}


/* Appointment Information */

.li2 {
    padding-top: 10px;
    line-height: 1;
    margin-left: 4%;
}


/* Personal Information Content */

.div1 {
    padding-top: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #3B3838;
    line-height: 1.6;
    margin-left: 10%;
    text-align: left;
}


/* Appointment Information Content */

.div2 {
    padding-top: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #3B3838;
    line-height: 1.6;
    margin-left: 10%;
    text-align: left;
}


/* Appointment Information Columns */

.column {
    float: left;
}


/* Appointment Information Col-1 */

.left {
    width: 50%;
}


/* Appointment Information Col-2 */

.right {
    width: 50%;
}


/* Clear floats after the columns */

.div2:after {
    content: "";
    display: table;
    clear: both;
}


/* Step Progress Bar and Form Container */

.container {
    width: 100%;
    max-width: 800px;
    background: #F5F5F5;
    text-align: center;
    border-radius: 5px;
    padding: 0 35px 10px 35px;
}


/* form-outer */

.container .form-outer {
    width: 100%;
    overflow: hidden;
}


/* Inline Forms */

.container .form-outer form {
    display: flex;
    width: 400%;
}


/* Hide other forms */

.form-outer form .page {
    width: 25%;
    transition: margin-left 0.3s ease-in-out;
}


/* Bar Inline */

.container .progress-bar {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    user-select: none;
    width: 80%;
}


/* Bar Inline Spaces */

.container .progress-bar .step {
    text-align: center;
    width: 100%;
    position: relative;
}


/* /* Step Progress Bar Circles */

.progress-bar .step .bullet {
    height: 50px;
    width: 50px;
    border: 2px solid #002060;
    background: #002060;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    transition: 0.2s;
    font-weight: 500;
    line-height: 74px;
}


/* Step Progress Bar Icons */

.progress-bar .step .bullet img {
    width: 35px;
}

.progress-bar .step .bullet.active {
    border-color: #EAB800;
    background: #EAB800;
}


/* check bar align bottom */

.progress-bar .step .bullet span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.progress-bar .step .bullet.active span {
    display: none;
}


/* Step Progress Bar line */

.progress-bar .step .bullet:before,
.progress-bar .step .bullet:after {
    position: absolute;
    content: '';
    bottom: 25px;
    right: -125px;
    height: 5px;
    width: 100px;
    background: #002060;
}


/* Step Progress Bar Line Animation */

.progress-bar .step .bullet.active:after {
    background: #EAB800;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 0.3s linear forwards;
}


/* Animation */

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}


/* Removes last line */

.progress-bar .step:last-child .bullet:before,
.progress-bar .step:last-child .bullet:after {
    display: none;
}


/* Bar check hides*/

.progress-bar .step .check {
    position: absolute;
    left: 50%;
    top: 45%;
    font-size: 35px;
    transform: translate(-50%, -50%);
    display: none;
}

.progress-bar .step .check.active {
    display: block;
    color: #fff;
}


/* CALENDAR DESIGN */
.calendar {
    /* calendar container */
    width: 50rem;
    /* always use rem unit if plan to change the value, hehe proportional kasi ito sa area, a bit complicated to tantya-meter */
    height: 19.2rem;
    /* dependent 'yung content nitong cal containers to these two rem val */
    background-color: #002060;
}

.weekdays {
    /* the container holding the divs for Sun-Sat title*/
    margin-left: 18px;
    float: left;
    width: 50%;
    height: 50px;
    display: flex;
    /* flex do help to align the divs horizontally */
    align-items: center;
    color: white;
}

.weekdays div {
    /* the Sun-Sat text div designs */
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.month {
    /* div container for the right side title inside the cal container, [ June 2021 day 25 ]*/
    float: right;
    width: 47%;
    height: 2.7rem;
    color: white;
    align-items: center;
    padding: 5px 0px;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

.controls {
    /* separated div for the prev and next button */
    margin-left: 10px;
    float: left;
    font-size: 14px;
    width: 5%;
    text-align: center;
}

.controls .prev_btn {
    cursor: pointer;
}

.controls .prev_btn:hover {
    color: #eab800;
}

.controls .next_btn {
    cursor: pointer;
}

.controls .next_btn:hover {
    color: #eab800;
}

.date .month_ttl {
    /* separated div for the Month Name (e.g JUNE) */
    font-size: 30px;
    margin-left: 10px;
    float: left;
}

.date .year_ttl {
    /* sparated div for year count (2021)*/
    font-size: 30px;
    margin-left: 10px;
    float: left;
}

.date .day_ttl {
    /* separated div for Day title (day) */
    float: right;
    font-size: 20px;
}

.date .day_num {
    /* separated div for today's date (with js function)*/
    font-size: 30px;
    margin-left: 5px;
    margin-right: 10px;
    float: right;
}

.days {
    /* container for the days (prev-date + 1-31 + next_date )*/
    margin-left: 18px;
    float: left;
    height: 16rem;
    width: 50%;
}

.days input[type="radio"] {
    /* cell days are all input radio type */
    opacity: 0;
    position: fixed;
    width: 0;
}

.days :not(.prev-date,
.next-date) {
    /* 1-31 days, (excluded yung sa prev at next date) we hide their real appearance(radio type) with this */
    font-family: 'Poppins', sans-serif;
    float: left;
    color: white;
    font-size: 12px;
    width: calc(25rem / 7);
    /* the default alignment is vertical, using calc(xx/7) we dsiplay them horizontally limited for 7 days per row*/
    height: 2.7rem;
    display: block;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: block;
    text-decoration: none;
    display: flex;
    cursor: pointer;
    align-items: center;
    box-sizing: border-box;
}

.prev-date,
.next-date {
    /* prev and next date designs, not radio type since we only need them to be displayed*/
    font-family: 'Poppins', sans-serif;
    float: left;
    color: white;
    font-size: 12px;
    width: calc(25rem / 7);
    height: 2.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s;
    opacity: 0.5;
    background-color: #021347;
}

.days label:hover {
    /* label hover designs for the radio inputs (1-31 days) || include the  :not(.fullybooked_cell) after the hover once you have available and fullybooked cell function*/
    background-color: #13377f;
    cursor: pointer;
    border: .1rem solid gold;
}

.days label {
    /* label hover designs for the radio inputs (1-31 days)*/
    text-decoration: none;
    display: inline-block;
    background-color: white;
    color: #00b050;
    font-family: 'Poppins', sans-serif;
}


/* designs for the clicked cell */

.days input[type="radio"]:checked+label {
    background-color: #eab800;;
    cursor: pointer;
}

.days input[type="radio"]:focus+label {
    background-color: #eab800;;
    cursor: pointer;
}


/* use this for available and fully booked cell color

.available_cell:not(.prev-date, .next-date) {
  color: green;
}

.fullyBooked_cell:not(.prev-date, .next-date) {
  color: red;
}

*/

.time {
    /* time container for all the buttons */
    height: 14em;
    width: 47.3%;
    float: right;
    background-color: #ededed;
    align-items: center;
    justify-content: center;
    padding: 15px 0px;
}

.time div {
    /* buttons are divided into 5 divs/rows to align them hehe */
    height: 20%;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.time input[type=button] {
    /* designs for the buttons */
    background-color: white;
    border: 1px solid #bfbfbf;
    color: #002060;
    height: 38px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 14px;
    margin: 0px 18px;
    cursor: pointer;
    align-items: center;
}



.time input[type=button]:hover {
    /* color change when the arrow hovers above the button */
    background-color: #002060;
    color: white;
}

.time input[type=button]:disabled,

/* disabled button design */

.input[type=button][disabled] {
    border: 1px solid #bfbfbf;
    background-color: white;
    color: #bababa;
}

.containerBranch {
    position: relative;
    max-width: 100px;
    width: 100%;
    left: 102px;
}

.containerOffice {
    position: relative;
    max-width: 382px;
    left: 220px;
    top: -56px;
}

.containerPurpose {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    max-width: 500px;
    width: 100%;
    display: inline-block;
    top: -50px;
}

.containerInputs {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    max-height: 285px;
    width: 100%;
    top: 0px;
}

select {
    height: 36px;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    border-radius: 6px;
    border: 1px solid rgb(191, 216, 239);
    position: relative;
}

select.Branch {
    position: relative;
    width: 100px;
}

select.Office {
    position: relative;
    max-width: 400px;
}

.containerText {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    width: 100%;
    height: 40px;
    top: -10px;
}

p.specify {
    position: relative;
    height: 0px;
    font-weight: bold;
    font-size: 16px;
    left: 27px;
    top: 0px;
}


/* OFFICE NAMES Dropdown CSS */

.container2 {
    padding: none;
}

.select-box2 {
    width: 211.2px;
    position: relative;
}

.select-box2 .options-container2 {
    background: #F5F5F5;
    font-family: 'Poppins', sans-serif;
    color: #767171;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 8px;
    overflow: hidden;
    order: 1;
}

.selected2 {
    background: #F5F5F5;
    border-radius: 8px;
    margin-bottom: 8px;
    color: #AFABAB;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    height: 40px;
    position: relative;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    order: 0;
}

.selected2::after {
    content: "";
    background: url("../img/arrow.svg");
    background-size: 20px;
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 32px;
    right: 5px;
    top: 10px;
    transition: all 0.4s;
}

.select-box2 .options-container2.active {
    max-height: 150px;
    opacity: 1;
    overflow-y: scroll;
}

.select-box2 .options-container2.active+.selected2::after {
    transform: rotateX(180deg);
    top: -10px;
}

.select-box2 .options-container2::-webkit-scrollbar {
    width: 8px;
    background: #DAE3F3;
    border-radius: 0 8px 8px 0;
}

.select-box2 .options-container2::-webkit-scrollbar-thumb {
    background: #767171;
    border-radius: 0 8px 8px 0;
}

.select-box2 .option2,
.selected2 {
    padding: 12px 15px;
    cursor: pointer;
}

.select-box2 .option2:hover {
    background: #DAE3F3;
}

.select-box2 label {
    cursor: pointer;
}

.container-office {
    position: relative;
    display: inline-block;
    left: -200px;
}

.container-purpose {
    position: relative;
    display: inline-block;
    width: 420px;
    top: -150px;
    left: 90px;
    font-family: 'Poppins', sans-serif;
}

.container-inputs {
    position: relative;
    width: 570px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    height: 270px;
    
}

#branch {
    font-family: 'Poppins', sans-serif;
}
#Office {
    font-family: 'Poppins', sans-serif;
}
#purpose {
    font-family: 'Poppins', sans-serif;
}
.container-Appointment-Details {
    position: relative;
    display: block;
    max-width: 65%;
    min-width: 450px;
    margin: auto auto;
    left: 100px;
    top: 10px;
}

.container-fill-out {
    position: relative;
    display: flex;
    max-width: 66.7%;
    min-width: 450px;
    top: -18px;
    left: 20px;
    margin-right: auto;
}

input {
    max-width: 100px;
}

.container-Appointment-Details table {
    position: relative;
    margin-right: auto;
    float: right;
}

.container-Date_Time label {
    position: static;
}

hr.line {
    position: relative;
    max-width: 900px;
    border-top: 1px solid black;
    margin-top: 5px;
}

input {
    max-width: 120px;
}

.informationForm {
    position: relative;
    width: 610px;
    margin-left: auto;
    margin-right: auto;
    max-height: 210px;
    top: -110px;
}

.form-row {
    display: flex;
    margin: center;
}

.form-group {
    padding-left: 2px;
    padding-right: 2px;
}

.form-group input {
    border: 1px solid rgb(191, 216, 239);
    line-height: 30px;
    height: 36px;
    border-radius: 6px;
    max-width: 1100px;
    width: 86%;
    padding-left: 15px;
    position: relative;
    left: 4px;
    font-family: 'Poppins', sans-serif;
}

.form-group input::-webkit-input-placeholder {
    font-family: 'Poppins', sans-serif;
    color: #767171;
}

textarea {
    top: 20px;
    max-width: 360px;
    padding: 12px;
    width: 100%;
    left: -10px;
    resize: none;
    height: 62px;
    position: relative;
    display: inline-block;
    border-radius: 6px;
    border: 1px solid rgb(191, 216, 239);
}

textarea::-webkit-input-placeholder {
    font-family: 'Poppins', sans-serif;
    color: #767171;
}

select {
    font-family: 'Poppins', sans-serif;
    color: #767171;
    padding: 8px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    background: url("../img/arrow.svg") 95% / 15% no-repeat white;
    background-size: 14px;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

select option {
    font-family: 'Poppins', sans-serif;
    color: #767171;
}

#slotsload {
    display: none;
}

#timeslot-load {
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: block;
  }
#timeslot-cv-spinner {
    margin-top: 15%;
    height: 20%;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
}
#timeslot-spinner {
    display: block;
    width: 40px;
    height: 40px;
    border: 4px #ededed solid;
    border-top: 4px #808080 solid;
    border-left: 4px #808080 solid;
    border-radius: 50%;
    animation: sp-anime 0.5s infinite linear;
}
  @keyframes sp-anime {
    100% {
      transform: rotate(360deg);
    }
  }
  .is-hide {
    display: none;
  }

  #screen-overlay {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: none;
    background: rgba(0, 0, 0, 0.6);
  }
#screen-cv-spinner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
#screen-spinner {
    width: 80px;
    height: 80px;
    border: 20px #002060 solid;
    border-top: 20px #eab800 solid;
    border-radius: 50%;
    animation: screen-sp-anime 0.8s infinite linear;
  }
.screen-cv-spinner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.screen-spinner {
    width: 80px;
    height: 80px;
    border: 20px #002060 solid;
    border-top: 20px #eab800 solid;
    border-radius: 50%;
    animation: screen-sp-anime 0.8s infinite linear;
  }
  @keyframes screen-sp-anime {
    100% {
      transform: rotate(360deg);
    }
  }
  .is-hide {
    display: none;
  }

.table{
    width: 100%;
    padding-top: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #3B3838;
    line-height: 1.6;
    margin-left: 10%;
    text-align: left;
}
.table1{
    position: relative;
    width: 50%;
    width: 100%;
}
.table2{
    position: relative;
}

.td0{
    width: 15%;
}
.td01{
    width: 27%;
}
.td02{
    width: 18%;
}
.td03{
    width: 40%;
}
.tdl1{
    width: 20%;
}
.tdl2{
    width: 40%;
}
.tdr1{
    width: 15%;
}
.tdr2{
    width: 25%;
} 
.tdr3{
    text-align:left;
    float:left; 
}