.outer-wrap {
    margin-top: 20px;
}

.card-wrapper {
    box-sizing: border-box;
    width: 100%;
}

/* Float four columns side by side */
.column {
    float: left;
    width: 22%;
    padding: 0 10px;
  }

.col-photo {
    padding: 0 2px;
    width: 40%;
}
.col-res-name {
    padding: 0 2px;
    width: 40%;
    text-align: left;
}

.last-name {
    font-size: 25px;
    display: block;
}

  /* Remove extra left and right margins, due to padding in columns */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    border: #aaaaaa 1px solid;
    margin-top: 10px;
  }

  .card a {
    color: black;
  }

  .card:hover {
    background-color: rgb(247, 233, 233);
  }
  
  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }

.profile-photo {
    width: 90px;
    height: 85px;
}

.cell-right {
  text-align: right;
}

.push-left {
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
  margin-left: 0px;
}

.mini-grid {
  width: 100%;
}

.mini-grid td {
  vertical-align: middle;
  text-align: right;
}

.settings-button {
  width: 5%;
}

.search-field {
  margin-bottom: 0px;
}

.content.profile-adjust {
  min-height: 70%;
}

.modal-content {
  margin: 100 auto;
}